{% extends "uploadedfiles.html" %}

{% block uploaded %}
    <div class="p-2">
        <h5>error case analysis placeholder</h5>
        <p>amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing
            amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing
            amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing
            amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing
            amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing </p>
    </div>

    {{ matplotHtml }}

{% endblock %}