<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    {#
    Old OpenID sign-in script
    <script type="text/javascript">
        function set_openid(openid, pr) {
            u = openid.search('<username>');
            if (u != -1) {
                // openid requires username
                user = prompt('Enter your ' + pr + ' username:');
                openid = openid.substr(0, u) + user;
            }
            form = document.forms['login'];
            form.elements['openid'].value = openid;
        }
    </script>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            Please enter your OpenID, or select one of the providers below:<br>
            {{ form.openid(size=80) }}
            {% for error in form.openid.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            |{% for pr in providers %}
            <a href="javascript:set_openid('{{ pr.url }}', '{{ pr.name }}');">{{ pr.name }}</a> |
        {% endfor %}
        </p>
        <p>{{ form.remember_me }} Remember Me</p>
        <p><input type="submit" value="Sign In"></p>
    </form>
     #}

    <!-- Google OAuth 2 script -->


    <div class="text-center">
        <h1>Sign In</h1>
        {#
        <img src="{{ url_for('static', filename='img/img_avatar.png') }}" alt="Avatar"
             class="img-responsive img-circle avatar"/>
        #}
    </div>
    {% from "formhelper.html" import render_field %}
    <form method=post action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <dl>
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
        </dl>
        <p>{{ form.remember_me }} Keep me logged in
            <input class="btn btn-primary float-right" type=submit value=Login></p>
    </form>

    {#
    <form class="login" action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <div class="container">
            <input type="text" placeholder="Enter Email" name="email" required>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button class="btn btn-primary btn-block" type="submit">Login</button>
            <p>{{ form.remember_me }} Remember Me</p>
        </div>
        <div class="container">

            <button class="btn btn-danger disabled" type="button">Cancel</button>

            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
    <!-- Registration button -->
    <form class="register" action="{{ url_for('register') }}" method="get" name="register">
        {{ form.hidden_tag() }}
        <div class="container">
            <button class="btn btn-primary btn-block" type="submit">Register</button>
        </div>
    </form>
 #}
    <br>
    <hr>
    <br>
    <h4 class="text-center"><b>Use OAuth</b></h4><br>
    <div class="d-flex justify-content-center">
        <div class="g-signin2" data-onsuccess="onSignIn" data-longtitle="true"></div>
    </div>
{% endblock %}
