{% extends "base.html" %}

{% block script_content %}

    $(document).ready(function(){
        $('#sel1').change(function() {
            $("#downloadLog").attr("action", "/uploads/" + $(this).find("option:selected").text());
            $("#chooseAFile").prop('disabled', 'true');
        });

        $('#analyzeBtnUse').click(function() {
        $.ajax({
            url: '/graphs_use',
            type: 'GET',
            data: { filename: $("#sel1").find("option:selected").text(), start: $("#start").val(), end: $("#end").val(), term: $("#term").val()},

            success: function(response) {
                $('#feedback').html(response)
            },
            error: function(error) {
                console.log(error);
            }
        });
        });

        $('#analyzeBtnErr').click(function() {
        $.ajax({
            url: '/graphs_err',
            type: 'GET',
            data: { filename: $("#sel1").find("option:selected").text(), start: $("#start").val(), end: $("#end").val(), term: $("#term").val()},
            success: function(response) {
                $('#feedback').html(response)
            },
            error: function(error) {
                console.log(error);
            }
        });
        });
    });

{% endblock %}

{% block uploader %}
    <form id="downloadLog" action="#">
        <div class="p-2 form-group">
            <label for="sel1">Uploaded Files:</label>
            <select class="form-control" id="sel1">
                <option id="chooseAFile" class="">Choose a file</option>
                {% for file in files %}
                    <option>{{ file.filename }}</option>
                {% endfor %}
            </select>
            <br>(Optional: Search by Date and Time)<br>
            Start:<input id="start" type="text">
            End: <input id="end" type="text">
            <br>(Optional: Filter by searching for term)<br>
            Term: <input id="term" type="text">
            <div class="d-flex  justify-content-between">
                <input id="dl-button" type="submit" class="btn btn-primary" value="Download selected file">
                {% if request.path == "/usecase" %}
                <button id="analyzeBtnUse" type="button" class="btn btn-primary" >Analyze</button>
                <button id="rateBtnUse" type="button" class="btn btn-primary" >Error Rate</button>
                {% elif request.path == "/errorcase" %}
                <button id="analyzeBtnErr" type="button" class="btn btn-primary" >Analyze</button>
                <button id="rateBtnErr" type="button" class="btn btn-primary" >Error Rate</button>
                {% endif %}
            </div>
    </form>
{% endblock %}
