{% extends "base.html" %}

{% block script_content %}

    $(document).ready(function(){
        $('#sel1').change(function() {
            $("#downloadLog").attr("action", "/uploads/" + $(this).find("option:selected").text());
            $("#chooseAFile").prop('disabled', 'true');
        });
    });

{% endblock %}


{% block content %}
<form id="downloadLog" action="#">
    <div class="form-group">
        <label for="sel1">Uploaded Files:</label>
        <select class="form-control" id="sel1">
            <option id="chooseAFile" class="disabled">Choose a file</option>
            {% for file in files %}
                <option>{{ file.filename}}</option>
            {% endfor %}
        </select>
    </div>
  	<p><input type="submit" value="Download selected file"></p>
</form>
    {% block uploaded %}

    {% endblock %}

{% endblock %}
