{% extends "uploadedfiles.html" %}

{% block uploaded %}
    <div class="p-2">
        <h5>use case analysis placeholder</h5>
        <p>amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing
            amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing
            amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing
            amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing
            amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing amazing </p>
    </div>
{% endblock %}